#### Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

#### Loading the Financial and Summary Data

In [2]:
df = pd.read_csv('Final_Financial_report.csv')

In [3]:
df

,Unnamed: 0,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth (%)
0,0,2023,211915,72361,411976,205753,87582,Microsoft,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,2022,198270,72738,364840,198298,89035,Microsoft,-6.438902,0.520999,-11.441443,-3.623276,1.659017
2,2,2021,168088,61271,333779,191791,76740,Microsoft,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
3,3,2023,96773,14974,106618,43009,13256,Tesla,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,2022,81462,12556,82338,36440,14724,Tesla,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
5,5,2021,53821,5519,62131,30548,11497,Tesla,-33.931158,-56.044919,-24.541524,-16.169045,-21.916599
6,6,2023,383285,96995,352583,290437,110543,Apple,0.000000,0.000000,0.000000,0.000000,0.000000
7,7,2022,394328,99803,352755,302083,122151,Apple,2.881146,2.894995,0.048783,4.009820,10.500891
8,8,2021,365817,94680,351002,287912,104038,Apple,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368

In [4]:
df1 = pd.read_csv('Summary_of_final_financial_report.csv')

In [5]:
df1

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth (%)
0,0,Apple,-1.449710,-0.746039,-0.149388,-0.227092,-1.442492
1,1,Microsoft,-7.220526,-5.081267,-6.651679,-2.301567,-4.050053
2,2,Tesla,-16.584240,-24.064303,-15.771471,-10.480864,-3.614123

#### Predefined Financial Queries for Chatbot
1. What is the total revenue?
2. What is the Net Income?
3. What is the sum of total assets?
4. What is the sum of total liabilities?
5. What is cash flow from operating activities?
6. What is the revenue growth(%) ?
7. What is the net income growth(%) ?
8. What is the assets growth(%) ?
9. What is the liabilities growth(%) ?
10. What is the cash flow from operations growth(%) ?
11. What is the year by year average revenue growth rate(%)?
12. What is the year by year average net income growth rate(%)?
13. What is the year by year average assets growth rate(%)?
14. What is the year by year average liabilities growth rate(%)?
15. What is the year by year average cash flow from operations growth rate(%)?

In [6]:
def get_company_data(df, company, year):
    """
    Helper function to extract the financial data for the specific company and year.
    """
    company_data = df[(df['Company'] == company) & (df['Year'] == year)]
    return company_data

def simple_chatbot():
    while True:
        user_input = input("\nEnter Hi to start the chatbot session; type 'exit' to quit): ")
        if user_input.lower() == "exit":
            break
        elif user_input.lower() == "hi":
            print("\nHello! Welcome to AI Driven Financial Chatbot!!!")
            print("\nI can help you with your financial queries")
            print("Please select the company name from below: -")
            print("\n1.Microsoft \n2.Tesla \n3.Apple")
            company_name = input("Please select the company name from below (Microsoft, Tesla, Apple): ")
            year = int(input("Please enter the year (2021, 2022, or 2023): "))
            company_data = get_company_data(df, company_name, year)
    
            if company_data.empty:
                print(f"No data found for {company_name} in {year}. Please try again.")
                return

            user_query = input("Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): ").lower()

            if "total revenue" in user_query:
                print(f"The total revenue for {company_name} in {year} is ${company_data['Total Revenue'].values[0]:,.2f}.")
    
            elif "net income" in user_query:
                print(f"The net income for {company_name} in {year} is ${company_data['Net Income'].values[0]:,.2f}.")
    
            elif "total assets" in user_query:
                print(f"The total assets for {company_name} in {year} is ${company_data['Total Assets'].values[0]:,.2f}.")
    
            elif "total liabilities" in user_query:
                print(f"The total liabilities for {company_name} in {year} is ${company_data['Total Liabilities'].values[0]:,.2f}.")
    
            elif "cash flow from operating activities" in user_query:
                print(f"The cash flow from operating activities for {company_name} in {year} is ${company_data['Cash Flow from Operating Activities'].values[0]:,.2f}.")
    
            elif "revenue growth" in user_query:
                print(f"The revenue growth (%) for {company_name} in {year} is {company_data['Revenue Growth (%)'].values[0]:.2f}%.")
    
            elif "net income growth" in user_query:
                print(f"The net income growth (%) for {company_name} in {year} is {company_data['Net Income Growth (%)'].values[0]:.2f}%.")
    
            elif "assets growth" in user_query:
                print(f"The assets growth (%) for {company_name} in {year} is {company_data['Assets Growth (%)'].values[0]:.2f}%.")
    
            elif "liabilities growth" in user_query:
                print(f"The liabilities growth (%) for {company_name} in {year} is {company_data['Liabilities Growth (%)'].values[0]:.2f}%.")
    
            elif "cash flow growth" in user_query:
                print(f"The cash flow from operations growth (%) for {company_name} in {year} is {company_data['Cash Flow from Operations Growth(%)'].values[0]:.2f}%.")
    
            else:
                print("Sorry, I can only provide information on predefined queries.")

simple_chatbot()

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Tesla
Please enter the year (2021, 2022, or 2023): 2023
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the Net Income?
The net income for Tesla in 2023 is $14,974.00.

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Apple
Please enter the year (2021, 2022, or 2023): 2021
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the total revenue?
The total revenue for Apple in 2021 is $365,817.00.

Enter Hi to start the chatbot session; type 'exit' to quit): hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Microsoft
Please enter the year (2021, 2022, or 2023): 2022
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the sum of total assets?
The total assets for Microsoft in 2022 is $364,840.00.

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Tesla
Please enter the year (2021, 2022, or 2023): 2021
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the sum of total liabilities?
The total liabilities for Tesla in 2021 is $30,548.00.

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Microsoft
Please enter the year (2021, 2022, or 2023): 2023
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is cash flow from operating activities?
The cash flow from operating activities for Microsoft in 2023 is $87,582.00.

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Apple
Please enter the year (2021, 2022, or 2023): 2021
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the net income growth(%) ?
The net income for Apple in 2021 is $94,680.00.

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Microsoft
Please enter the year (2021, 2022, or 2023): 2022
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the assets growth(%) ?
The assets growth (%) for Microsoft in 2022 is -11.44%.

Enter Hi to start the chatbot session; type 'exit' to quit): exit

In [7]:
simple_chatbot()

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Please select the company name from below (Microsoft, Tesla, Apple): Tesla
Please enter the year (2021, 2022, or 2023): 2023
Please enter your query (e.g., 'What is the total revenue?', 'What is the assets growth?'): What is the total revenue?
The total revenue for Tesla in 2023 is $96,773.00.

Enter Hi to start the chatbot session; type 'exit' to quit): exit